{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus optio facere neque. Deserunt placeat quas veritatis quo sapiente adipisci soluta reprehenderit obcaecati? Doloremque, nostrum pariatur. Unde nostrum eius, magni adipisci saepe dolore! Ab itaque maiores ut quam voluptatum doloremque ullam numquam esse magni animi voluptates voluptas, tempore quas impedit debitis reiciendis corporis, earum officia! Quos, sunt sed temporibus ipsam, voluptate eos vel quisquam aliquam laboriosam doloribus repellendus molestiae soluta inventore et dicta culpa nulla. Porro eum, inventore repellat nostrum dicta minus pariatur voluptas ad. Repellendus quidem saepe, perspiciatis dolor earum ullam dolores voluptas est, aliquid provident illum, doloremque itaque possimus.</p>

<p>Website created by {{username}}</p>

{% endblock %}